.App {
  text-align: center;
}

.App{
  min-height: 100vh;
  background-color: rgb(236, 140, 71);
}
.head{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.head input{
  width: 40%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(236, 140, 71);
}
.head button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: silver;
  cursor: pointer;
}
.body{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(236, 140, 71);
}
.Recipe{
  border-radius: 10px;
  box-shadow: 0px 5px 20px ;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-content: start;
  background-color: white;
  min-width: 40%;
}